PORT="4501"

#------------------ Database Configuration ------------------#
MONGODB_CONNECTION_STRING=

ACCESS_SECRET="your_access_secret_key"
REFRESH_SECRET="your_refresh_secret_key"

ACCESS_TOKEN_MAX_AGE="15m"
REFRESH_TOKEN_MAX_AGE="7d"